body {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 730px;
    margin: auto;
}

.dot {
    width: 12px;
    height: 12px;
    background: black;
}

.hz-line {
    width: 90px;
    height: 12px;
    background: white;
}

.cell {
    width: 90px;
    height: 90px;
    background: white;
}

.vt-line {
    width: 12px;
    height: 90px;
    background: white;
}

.vt-line:hover,
.hz-line:hover {
    background: lightgrey;
}

.highlight {
    background: lightgrey;
}

.square1 {
    background-color: orangered;
}

.square2 {
    background-color: royalblue;
}

#playerdisp {
    font-size: 20px;
    font-weight: bolder;
    color: orangered;
}

.player1turn {
    font-size: 20px;
    font-weight: bolder;
    color: orangered;
}

.player2turn {
    font-size: 20px;
    font-weight: bolder;
    color: royalblue;
}